matplotlib==3.10.6
networkx==3.3
numpy==2.3.3
pandas==2.3.2
rdkit==2025.3.6
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
torch=2.8.0
torch-geometric==2.6.1
cosine_annealing_warmup @ git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup
mendeleev
loguru
wandb
lmdb
umap-learn
umap-learn
optuna
cma